<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Soda Tax and Public Health</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css"href="styles.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="./landing.html"><span class="latitude">Junk Food and Public Health</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse show" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link btn dropdown-toggle" href="index.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Table of Contents
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a href="method.html">Methodology</a></li>
            <li><a href="results.html">Results</a></li>
            <li><a href="discussion.html">Discussion</a></li>
            <li><a href="appendix.html">Appendix</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-12">
          <div class="card">
            <h1 class="title">Appendix</h1>
            <p>Figure 1</p>
            <img src="images/F1_2008_OLS.png" width="100%">
            <br>
            <p>Figure 2</p>
            <img src="images/F2_2018_OLS.png" width="100%">
            <br>
            <p>Figure 3</p>
            <img src="images/F3_Panel_Regressions.png" width="100%">
            <br>
            <p>Figure 5</p>
            <img src="images/F5_Diabetes_by_State_in_Percent.png" alt="Diabetes by State in Percent" width="100%">
            <br>
            <p>Figure 6</p>
            <img src="images/F6_Obesity_by_State_in_Percent.png" alt="Obesity by State in Percent" width="100%">
            <br>
            <p>Figure 7</p>
            <img src="images/F7_Correlations.png" width="100%">
            <br>
            <p>Figure 9</p>
            <img src="images/F9_2008_Descriptive_Statistics.png" width="100%">
            <br>
            <p>Figure 10</p>
            <img src="images/F10_2018_Descriptive_Statistics.png" width="100%">
            <br>
            <p>Figure 11</p>
            <img src="images/F11_Hausman_Obesity.png" width="100%">
            <br>
            <p>Figure 12</p>
            <img src="images/F12_Hausman_Diabetes.png" width="100%">

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>

